---
import Layout from "../layouts/GeneralLayout.astro";
const rising = [
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193235844392300634/Celeste_box_art_full.png?ex=65abfa7a&is=6599857a&hm=a52109215f9f1927186b5cf1e0a9295aac5cb469d528f11c20569aab35a6678a&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193238167273353379/e77cbe3c83da8de952bce5bc0f0960092dbc2e08d377f0e082673239322301bb.png?ex=65abfca4&is=659987a4&hm=a2feeddcc3f81d6cd41b4302e3972a34f710f6cbd107d7596a927f5e0db5dc39&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193238573315539085/dbc8c55a21688b446a5c57711b726956483a14ef8c5ddb861f897c0595ccb6b5.png?ex=65abfd05&is=65998805&hm=30087f41a4d9bbf32e594781062f508aabdc366e321b82ade161bcf8cb7cbe5f&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193238983422005278/f58978f175eba8065d1b5afe4545876d_original.png?ex=65abfd66&is=65998866&hm=e21d4a600bc7417a0867a021a16dd34e8f27aea09a87dacff56855b16bbe4f7f&",
];
const discount = [
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193245161015226449/9c310-17039481517218-1920.png?ex=65ac0327&is=65998e27&hm=ffb5befc6d50f8da4ef1df6c269f9a03f7365f1263634e0a44ec593a23cbdcc5&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193245590348365894/10074-17039485362450-1920.png?ex=65ac038e&is=65998e8e&hm=2be9bfcefa144cc5f1513d931965e19e91f58a32024306c7dd1f41f88a7db86a&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193245656287019008/58616-17039471631753-1920.png?ex=65ac039d&is=65998e9d&hm=fcdd02bab813c16716a3526bc09d0fbfdb40933986543b0ed9e45e42ba65a219&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193245717402230814/0d228-17039470050436-1920.png?ex=65ac03ac&is=65998eac&hm=c453d3518f97d9623f83b57f7ef83d8ad1243f937cdb4bc3881ca1347edbe3b7&",
];
const recent = [
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193235844392300634/Celeste_box_art_full.png?ex=65abfa7a&is=6599857a&hm=a52109215f9f1927186b5cf1e0a9295aac5cb469d528f11c20569aab35a6678a&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193238167273353379/e77cbe3c83da8de952bce5bc0f0960092dbc2e08d377f0e082673239322301bb.png?ex=65abfca4&is=659987a4&hm=a2feeddcc3f81d6cd41b4302e3972a34f710f6cbd107d7596a927f5e0db5dc39&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193238573315539085/dbc8c55a21688b446a5c57711b726956483a14ef8c5ddb861f897c0595ccb6b5.png?ex=65abfd05&is=65998805&hm=30087f41a4d9bbf32e594781062f508aabdc366e321b82ade161bcf8cb7cbe5f&",
	"https://cdn.discordapp.com/attachments/1002669912969449606/1193238983422005278/f58978f175eba8065d1b5afe4545876d_original.png?ex=65abfd66&is=65998866&hm=e21d4a600bc7417a0867a021a16dd34e8f27aea09a87dacff56855b16bbe4f7f&",
];
import SLideShow from "../components/carousell";
import AvatarDrop from "../components/avatardropdown";
import { supabase, User as SupabaseUser, error } from "../lib/supabase";

let { data: Game, error } = await supabase
	.from("Game")
	.select("*")
	.order("Review", { ascending: false })
	.gt("Review", "8");
---

<Layout title="Home | IndieStop.">
	<div class="w-full h-full fixed inset-0 -z-10 opacity-30">
		<img src="/glowiess.svg" class="absolute inset-0 -left-72 -z-10" />
	</div>

	<div class="w-full h-full fixed -z-10 opacity-60">
		<img src="/glowiess.svg" class="absolute inset-0 left-[80vw] -z-10" />
	</div>

	<nav
		class="flex flex-row justify-between items-center m-auto p-10 animate-fade-down animate-once"
	>
		<a href="/" class="font-bold text-4xl tracking-wide float-left">
			<span class="text-indiegames">Indie</span><span
				class="text-brand-primary">Stop</span
			>
		</a>

		<div class="flex gap-6">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-full max-w-10"
				fill="#e58e27"
				viewBox="0 0 256 256"
				><path
					d="M232.49,215.51,185,168a92.12,92.12,0,1,0-17,17l47.53,47.54a12,12,0,0,0,17-17ZM44,112a68,68,0,1,1,68,68A68.07,68.07,0,0,1,44,112Z"
				></path></svg
			>

			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-full max-w-10"
				fill="#e58e27"
				viewBox="0 0 256 256"
			>
				<path
					d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128ZM40,76H216a12,12,0,0,0,0-24H40a12,12,0,0,0,0,24ZM216,180H40a12,12,0,0,0,0,24H216a12,12,0,0,0,0-24Z"
				></path>
			</svg>
			<AvatarDrop client:load />
		</div>
	</nav>

	<!-- <div class="sticky top-3 w-full bg-brand-base">
		<div class="pt-2 w-full relative mx-auto text-gray-600 max-w-sm">
			<input
				class="border-[3px] border-brand-base focus:ring-brand-primary focus:border-brand-primary bg-brand-surface h-13 px-5 pr-16 rounded-xl text-md focus:outline-none w-full"
				type="search"
				name="search"
				placeholder="Search"
			/>
			<button type="submit" class="absolute right-0 top-1 mt-5 mr-4">
				<svg
					class="text-gray-600 h-4 w-4 fill-current"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					id="Capa_1"
					x="0px"
					y="0px"
					viewBox="0 0 56.966 56.966"
					style="enable-background:new 0 0 56.966 56.966;"
					xml:space="preserve"
					width="512px"
					height="512px"
				>
					<path
						d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
					></path>
				</svg>
			</button>
		</div>
	</div> -->

	<section class="min-h-screen p-10 space-y-14">
		<h1
			class="font-bold text-2xl animate-fade-right animate-once animate-delay-200 pb-10"
		>
			Our Best Selection
		</h1>
		<SLideShow client:load />

		<h1 class="font-bold text-2xl">Rising Games</h1>
		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
			{
				Game.map((key) => (
					<div id={key.uuid}>
						<img
							src={key.Thumbnail}
							class="object-cover w-full max-w-92 h-72 rounded-2xl animate-fade-right animate-once"
						/>
						<p>{key.Description}</p>
					</div>
				))
			}
		</div>
		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
			{
				rising.map((key) => (
					<div class="space-y-2">
						<img
							src={key}
							class="object-cover w-full max-w-92 h-72 rounded-2xl animate-fade-right animate-once"
						/>
						<h3 class="font-medium text-md">Indie Game</h3>
						<p class="text-brand-primary font-bold">$1000</p>
					</div>
				))
			}
		</div>
		<h1 class="font-bold text-2xl">Discounted Games</h1>
		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
			{
				discount.map((key) => (
					<div class="space-y-2">
						<img
							src={key}
							class="object-cover w-full max-w-92 h-72 rounded-2xl animate-fade-right animate-once"
						/>
						<h3 class="font-medium text-md">Indie Game</h3>
						<p class="text-brand-primary font-bold">$1000</p>
					</div>
				))
			}
		</div>
		<h1 class="font-bold text-2xl">Recently Updated Games</h1>
		<div
			class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full"
		>
			{
				recent.map((key) => (
					<div class="space-y-2">
						<img
							src={key}
							class="object-cover w-full max-w-92 h-72 rounded-2xl animate-fade-right animate-once"
						/>
						<h3 class="font-medium text-md">Indie Game</h3>
						<p class="text-brand-primary font-bold">$1000</p>
					</div>
				))
			}
		</div>
	</section>
</Layout>
